body {
    background: skyblue;
}

.card-body {
    background-color: steelblue;
    color: white;
}

.header {
    background-color: steelblue;
}

.fiveDayTitle {
    color: white;
}

.fourHead {
    margin-top: 25px;
    margin-left: 500px;
}

#oneWeek {
    margin-top: 25px;
    margin-left: 475px;
}