body {
    background: skyblue;
}

.card-body {
    background-color: steelblue;
    color: white;
    border-radius: 5px;
    border-color: steelblue;
}

.header {
    background-color: steelblue;
}

.fiveDayTitle {
    color: white;
}

.fourHead {
    margin-top: 25px;
    margin-left: 575px;
}

#oneWeek {
    margin-top: 25px;
    margin-left: 275px;
}

#cityList {
    padding-right: 250px;
}